$p: '.Form';

.FormField {
  margin-bottom: ($base-space / 1.25);
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &--active,
  &--dirty,
  &--error {

    #{$p}Input {
      // padding: ($base-space * 1.125) ($base-space / 1.5) ($base-space / 3);
    }

    #{$p}Label {
      // transform: none;
      opacity: 1;
    }
  }

  &--error {

    #{$p}Label {
      color: color(red);
    }

    #{$p}Input {
      border-color: color(red);
      color: color(red);
    }
  }
}
