.Form {

}
// .Form {
//
//   &Field {
//
//     &--hidden {
//       display: none;
//     }
//
//     &--flex {
//       display: flex;
//     }
//
//     &--middle {
//       align-items: center;
//     }
//   }
//
//   &Button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-width: 190px;
//     height: 50px;
//     margin: 10px auto;
//     padding: 0 30px;
//     border: none;
//     border-radius: 2px;
//     font-weight: 600;
//     background-color: $theme-color;
//     box-shadow: 0 1px 2px rgba(black, 0.16);
//     -webkit-tap-highlight-color: transparent;
//     border-radius: 30px;
//
//     &--success {
//       background: grow(sec);
//     }
//
//     &--failure {
//       background: color(red);
//     }
//
//     span {
//       color: white;
//     }
//
//     svg {
//       fill: white;
//       * { stroke: white; }
//     }
//
//     &--medium {
//       width: 210px;
//     }
//
//     &--long {
//       width: 250px;
//     }
//   }
//
//   &Input {
//
//     &:focus,
//     &:hover, {
//       outline: none;
//     }
//   }
//
//   &FilePreview {
//     list-style-type: none;
//     padding: ($base-space / 2) (0) (0);
//
//     &__item {
//       min-height: 73px;
//       padding: (0) ($base-space) ($base-space);
//       margin-bottom: $base-space;
//       border-bottom: 1px solid color(grey-mid-light);
//
//       &:last-child {
//         padding-bottom: 0;
//         border-bottom: none;
//       }
//     }
//
//     &--error {
//       color: color(red);
//     }
//
//     &__info {
//       display: flex;
//       margin-bottom: ($base-space / 3.5);
//     }
//
//     &__progress {
//       margin: (0) (0) (0) (42px)
//     }
//
//     &__icon {
//       $size: 30px;
//       width: $size;
//       height: $size;
//       * { stroke: color(grey-mid-dark); }
//     }
//
//     &__name {
//       display: inline-block;
//       margin-left: ($base-space / 2);
//       color: color(grey-mid-dark);
//       font-weight: 600;
//       max-width: 244px;
//       text-overflow: ellipsis;
//       overflow: hidden;
//
//       @include bp(medium) {
//         max-width: 620px;
//       }
//     }
//
//     &__percent {
//       color: color(grey-mid-dark);
//     }
//
//     &__remove {
//       margin: 0 0 0 auto;
//       cursor: pointer;
//
//       svg {
//         $size: 20px;
//         width: $size;
//         height: $size;
//       }
//     }
//   }
//
//   &ProgressBar {
//     // margin-bottom: $base-space;
//
//     &__bar {
//       display: block;
//
//       &::-webkit-progress-bar {
//         height: 4px;
//         border-radius: 3px;
//         background: color(grey-mid-light);
//       }
//     }
//   }
//
//   &FieldDetails {
//     $p: &;
//     height: 0;
//     overflow: hidden;
//     @include ease(out);
//
//     &--active {
//       height: 140px;
//
//       @include bp(smallest) {
//         height: 87px;
//       }
//     }
//
//     &__list {
//       list-style-type: none;
//       padding: (0) ($base-space);
//
//       @include bp(smallest) {
//         display: flex;
//         flex-wrap: wrap;
//       }
//     }
//
//     &__item {
//       flex-basis: 50%;
//       display: flex;
//       align-items: center;
//       margin: ($base-space / 2) (0);
//       @include ease(out);
//
//       &--valid {
//
//         #{$p}__icon {
//           transform: scale(1.4);
//           background: grow(sec);
//         }
//       }
//     }
//
//     &__icon {
//       $size: 16px;
//       width: $size;
//       height: $size;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 50%;
//       background: color(grey-mid-light);
//       @include ease(out);
//
//       svg {
//         $size: 12px;
//         width: $size;
//         height: $size;
//         fill: white;
//       }
//     }
//
//     &__text {
//       margin-left: ($base-space / 2);
//       position: relative;
//       font-size: 1.4rem;
//       color: color(grey-mid-dark);
//     }
//   }
//
//   &ModalPreviewContent {
//
//     &__button {
//       margin: 0 ($base-space / 3) !important;
//       min-width: 125px;
//       height: 40px;
//
//       @include bp(medium) {
//         margin: 0 ($base-space / 2) auto !important;
//         min-width: 165px;
//         height: 45px;
//       }
//
//
//       &--pri {
//
//       }
//
//       &--sec {
//         background: color(grey-mid-light);
//         span { color: color(grey-mid-dark); }
//       }
//     }
//
//     img {
//       max-width: 640px;
//       width: 100%;
//       margin: 0 auto;
//
//       @include bp(large) {
//         max-width: 760px;
//       }
//     }
//
//     .Modal__actions {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding: ($base-space / 1.25) ($base-space);
//     }
//   }
// }
//
//
// .FormRow--two {
//   display: block;
//
//   @include bp(small) {
//     display: flex;
//   }
//
//   & .FormField:first-child {
//     border-right: none;
//
//     @include bp(small) {
//       border-right: 1px solid color(grey-mid-light);
//     }
//   }
//
//   & .FormField {
//     width: 100%;
//
//     @include bp(small) {
//       width: 50%;
//     }
//   }
// }
//
// .CompletedStepMessage {
//   padding: ($base-space * 2);
//   text-align: center;
//   border-top: 1px solid color(grey-mid-light);
//
//   &__heading {
//     font-size: 2rem;
//
//     @includ bp(medium) {
//       font-size: font(5);
//     }
//   }
//
//   &__button {
//     @include c-button;
//     background: $theme-color;
//     color: inherit;
//     vertical-align: inherit;
//     margin: 0 ($base-space / 1.5);
//
//     &--lowkey {
//       background: color(grey-mid-light);
//       color: color(grey-mid-dark);
//     }
//
//     span {
//       color: white;
//     }
//   }
//
//   a {
//     color: $theme-color;
//     font-weight: 600;
//   }
// }
