.CalculatorDynamicButton {
  background: white;
  border: 1px solid grow(pri);
  border-radius: 2px;
  color: grow(pri);
  cursor: pointer;
  font-size: 1.4rem;
  min-width: 7.6rem;
  margin-right: 15px;
  padding: 0.5rem 1rem;
  text-transform: capitalize;

  @include ease(out);

  &:hover {
    color: white;
    background: grow(pri);
  }

  &--no-permission {
    border-color: #bbc0ca;
    color: #abafb7;
    background-color: #fff;
  }
}

.CalculatorDynamicRemove {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: ($base-space * 1.25);

  &__button {
    cursor: pointer;
    border-radius: 50%;
    fill: white;
    background-color: #d5d7d8;
    @include ease(out);

    &:hover {
      background-color: grow(pri);
    }
  }

  &__ex {
    $size: 17px;
    display: block;
    padding: 4px;
    height: $size;
    width: $size;
  }
}
