$p: '.CalculatorForm';
$placeholder-color: #bbb;
$height: 44px;

.CalculatorFormInput {
  width: 100%;
  height: $height;
  padding: initial;
  border-radius: 2px;
  border: none;
  padding: ($base-space / 1.5);
  color: initial;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  font-size: 1.4rem;

  &--disabled {
    background-color: #f8f8fa;
  }

  &:focus,
  &:active {
    width: 100%;
    height: $height;
    border-radius: 2px;
  }

  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

.CalculatorFormField {
  margin: initial;

  &--active,
  &--dirty,
  &--error {
    #{$p}Input {
      padding: ($base-space / 1.75) ($base-space / 1.5);
      border-color: #ebeef0;
    }

    #{$p}Label {
      transform: none;
      opacity: 1;
    }
  }

  &--error {
    #{$p}Label {
      color: color(red);
    }

    #{$p}Input {
      border-color: color(red);
      color: color(red);
    }
  }

  &__item {
    width: 100%;
  }
}

.CalculatorFormSelect {
  display: none; // This is only temporary
  position: relative;
  border: none;
  background-color: white;
  height: $height;

  &__input {
    min-width: 200px;
    padding: ($base-space / 1.75) ($base-space / 1.5);
    color: $placeholder-color;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 1.125rem;
    pointer-events: none;
    transform: translateY(-50%);

    path {
      fill: #b2b5b7;
    }
  }

  select[id^='heloc'][id$='category'] {
    display: none;
  }

  select[id$='category'] ~ #chevronDown {
    display: none;
  }

  input[id^='heloc'][id$='description'] {
    min-width: 300px;
  }
}

.CalculatorFormSelected {
  color: $text-color;
}

.CalculatorSidebarSelect {
  display: flex;
  position: relative;
  border: none;
  background-color: white;
  margin-bottom: $base-space * 1.5;

  &__input {
    width: 100%;
    border: 1px solid color(grey);
    padding: ($base-space / 1.75) ($base-space / 1.5);
    color: $placeholder-color;
    border-radius: 2px;

    &:active,
    &:focus {
      outline: none;
    }

    &--disabled {
      background-color: #f8f8fa;
    }
  }

  &__arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 1.125rem;
    pointer-events: none;
    transform: translateY(-50%);

    path {
      fill: #b2b5b7;
    }
  }
}

.CalculatorSidebarField {
  margin: 0;
}
