.AffordabilityPlaceholder {
  max-width: 1200px;
  min-height: 807px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background-color: white;
  border-radius: 4px;
  overflow: hidden;

  &__header {
    background-color: grow(pri);
    height: 53px;
    width: 100%;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(807px - 53px);
  }
}