.CalculatorSidebarField {
  .SingleDatePicker {
    flex: 1;
  }

  .SingleDatePickerInput {
    border-width: 0;
    border-radius: 4px;
  }

  .DateInput {
    padding: 5px 12px;
    font-weight: 400;
    font-size: font(2);
    background: none;

    &__display-text {
      padding: 4px 3px;

      &--has-input {
        color: $text-color;
      }

      &--focused {
        background-color: transparent;
      }
    }
  }
}