.LoanBookCollectionsModal {
  .SingleDatePickerInput {
    border-width: 1px !important;
    border-radius: 4px;
    margin: (0) ($base-space / 3.5) !important;
  }

  .DateInput {
    padding: 2px !important;
    font-weight: 400 !important;
    font-size: font(2) !important;
    background: none !important;
    width: 93px !important;
  }
}
