.LoanBook {

  &__top {
    margin-bottom: ($base-space * 1.5);
  }

  &__body {
    // padding: (0) ($base-space);
  }

  &__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: ($base-space / 2);
    > .Member__heading { margin-bottom: 0; }
  }

  &__button {
    @include button;
    @include button--pri;
    @include button--sm;
    margin-bottom: 0;
  }

  &Empty {
    padding: ($base-space / 2) ($base-space) ($base-space * 2);
    text-align: center;

    &__heading {
      font-size: font(4);
    }

    .c-button {
      margin: 0;
    }
  }
}

// set z-index higher than .tether-element
.DateRangePicker__picker, .SingleDatePicker__picker {
    z-index: 111;
    pointer-events: all;
}
// make .tether-element non-reactive
.tether-element {
    z-index: 110;
    pointer-events: none;
}

.DateInput__display-text--focused {
  background: rgba(grow(pri), 0.1);
}
