.CashflowTransactionsHeader {
  background: grow(pri);
  color: white;

  &--conexus { background: bank(conexus); }
  &--scotiabank { background: bank(scotiabank); }
  &--tangerine { background: bank(tangerine); }
  &--td { background: bank(td); }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($base-space) ($base-space * 1.25) ($base-space / 3);
  }

  &__heading,
  &__subtitle {
    color: white;
  }

  &__heading {
    margin-bottom: ($base-space / 4.5);
    font-size: font(3);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: font(2);
    font-weight: 500;
  }

  &__balance {
    margin-bottom: 0;
    color: white;
    font-size: font(3);
    font-weight: 400;

    span {
      display: inline-block;
      margin-left: ($base-space / 3);
      font-weight: 500;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    padding: (0) ($base-space * 1.25);
    // background: color(grey-mid-light);
    // background: rgba(white, 0.2);
    height: auto !important;
  }

  &__item {
    padding-top: ($base-space / 2.5) !important;
    padding-bottom: ($base-space / 2.5) !important;

    &:first-child {
      margin-left: 0;
    }

    &-label,
    &-value {
      display: block;
      color: white;
    }

    &-label {
    }

    &-value {
      font-weight: 500;
    }
  }
}
