.SidebarNav {
  $p: &;
  margin: ($base-space * 1.5) (auto);

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-bottom: ($base-space);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    $size: 36px;
    height: $size;
    width: $size;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ($base-space / 3);
    position: relative;
    background-color: rgba(black, 0.15);
    border-radius: 4px;
    cursor: pointer;
    @include ease(out);

    &:before,
    &:after {
      pointer-events: none;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      @include ease(out);
    }

    &:before {
      content: attr(data-tooltip);
      position: absolute;
      left: 45px;
      padding: ($base-space / 2.5) ($base-space / 1.5);
      background: grow(pri);
      color: white;
      font-weight: 500;
      white-space: nowrap;
      box-shadow: 0 2px 8px rgba(black, 0.2);
    }

    &:after {
      @include triangle(5px, left, grow(pri));
      content: "";
      position: absolute;
      left: 40px;
    }

    &:hover {
      background: rgba(black, 0.3);

      &:before,
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &--active {
      background: grow(pri);

      &:hover {
        background: darken(grow(pri), 5);
      }

      #{$p}__icon {
        * { stroke: white; }
      }
    }
  }

  &__icon {
    * { stroke: mix(white, grow(sec), 65); }
  }
}
