.SidebarUser {
  $p: &;
  width: 100%;
  position: absolute;
  bottom: ($base-space * 1.5);

  &:hover {

    #{$p}Menu {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    &:before,
    &:after { display: none; }
  }
}
