.RecommendationCommentsForm,
.RecommendationApprovalForm {
  width: 100%;
  margin-bottom: $base-space * 1.5;
}

.RecommendationSpinner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: placeholder(light);
}

.RecommendationForm--editable {
  font-size: 1.3rem;
  color: color(grey-mid);
  text-align: right;
  padding: 8px 15px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  font-weight: 600;
}

.RecommendationDeclineModal {
  &__header {
    text-align: center;

    & ~ p {
      text-align: center;
    }
  }
}

.RecommendationDeclineForm {
  max-width: 480px;
  margin: 0 auto;
  padding: $base-space;

  div {
    margin-bottom: 0.3rem;
    cursor: pointer;
  }

  p {
    text-align: center;
  }

  &Checkboxes {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: $base-space / 1.25;
  }
}

.FormCheckboxWrapper {
  flex-basis: 33%;
}
