.RecommendationButtons {

  &Container {
    .FormButton {
      width: 250px;
      height: 45px;
      margin-right: $base-space * 2;
    }
  }

  &__row {
    border: 1px solid #ebeef0;
    margin-bottom: ($base-space * 1.5);
    width: 48%;
  }

  &__header {
    font-size: font(3);
    border-bottom: 1px solid #ebeef0;
    background-color: #f8f8fa;
    padding: ($base-space / 1.5);
    margin: 0;
  }

  &__body {
    padding: ($base-space / 1.5);
  }

  p {
    margin: 0;
  }
}

.RecommendationButton {
  &--disabled {
    background-color: #bbc0ca;
  }
}

.RecommendationField {
  display: inline-block;
}
