.UsersCreate {
  &Section {
    display: flex;
    border-top: 1px solid #dadada;
    justify-content: space-between;
    padding: ($base-space) ($base-space * 1.5) ($base-space * 2);

    &Header {
      flex: 0.5;

      &__heading {
        font-size: font(3);
        font-weight: 500;
        color: color(grey-mid-dark);
      }
    }

    &Form {
      flex: 0.5;
      background: white;
      border-radius: 3px;
    }

    &Submit {
      display: flex;
      justify-content: flex-end;
      padding: (0) ($base-space * 1.5) ($base-space * 2);
    }
  }
}
