// prettier-ignore
.SecondaryNav {
  background-color: white;
  color: color(grey-mid-dark);
  position: relative;
  height: 50px;
  border-bottom: 1px solid #dee4e7;

  &ListNested {
    position: absolute;
    z-index: 10;
    left: 14px;
    top: 50px;
    opacity: 0;
    background: white;
    pointer-events: none;
    padding: ($base-space / 3) (0);
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.1),
      0 8px 30px rgba(27, 39, 51, 0.08);
    list-style-type: none;
    visibility: hidden;
    min-width: 300px;
    @include ease(out);

    &__link {
      display: block;
      padding: ($base-space / 3) ($base-space);
      border-left: 3px solid transparent;
      font-size: font(2);
      color: #747b7d;
      @include ease(out);

      &:hover {
        color: color(grey-mid-dark);
        background-color: #f9f9f9;
      }

      &--active {
        border-left: 3px solid grow(pri);
        background-color: #ebf4fd;
      }
    }

    &__product {
      display: flex;
      align-items: center;
      font-weight: 500;
      color: color(black);
      white-space: nowrap;
    }

    &__date {
      position: relative;
      top: -1px;
      font-size: font(1);
    }
  }

  &List {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 16px;

    @include bp(large) {
      padding: 0 6px;
    }

    @include bp(xlarge) {
      max-width: initial;
      padding: 0 $base-space;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;

      &:hover > .SecondaryNavListNested {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
      }
    }

    &__link {
      $height: 50px;
      display: block;
      position: relative;
      padding: (0) ($base-space / 2.25);
      margin: (0) ($base-space / 1.25);
      height: $height;
      line-height: $height - 2px;
      border-bottom: 2px solid transparent;
      color: color(grey-mid);
      @include ease(out);

      &:hover {
        color: color(grey-mid-dark);
      }

      &--active {
        border-color: grow(pri);
        color: color(black);
      }
    }

    &__chevron {
      $size: 12px;
      width: $size;
      height: $size;
      margin-left: ($base-space / 4);
      position: relative;
      * {
        fill: color(grey-mid);
      }
    }
  }
}
