.AccountSettingsModal {
  max-width: 500px;
  padding: 1rem 1rem 0;

  &__text {
    margin-bottom: $base-space * 1.5;
  }

  &__header {
    font-size: font(3);
    margin-bottom: $base-space;
  }

  &ButtonContainer {
    text-align: center;
  }

  &List {
    color: color(black);
    margin-bottom: $base-space;
    padding: 18px 14px;
    border: 1px solid #eee;

    &__header {
      border: 1px solid #efefef;
      border-bottom: 0;
      color: color(black);
      padding: 14px;
      font-weight: 600;
      background: #f8f8f8;
    }

    &__item {
      list-style: none;
      display: flex;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      & > div {
        min-width: 95px;
        font-weight: 500;
      }

      & div:last-child {
        font-weight: 400;
      }
    }
  }
}
