.AccountSettingsErrorHandler {
  border-radius: 2px;
  background: rgba(color(red), 0.05);
  margin-bottom: $base-space * 1.25;
  padding: $base-space;
  color: color(red);

  &__header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: color(red);
  }

  &__list {
    padding-left: 2rem;
  }
}
