.QueueActions {
  position: absolute;
  right: ($base-space * 1.25);
  top: 42px;
  z-index: 2;
  border-radius: 2px;
  padding: ($base-space / 4) (0);
  background: white;
  box-shadow: 0 0 0 1px rgba(99,114,130,.1), 0 8px 30px rgba(27,39,51,.08);;
  @include ease(out, 0.2);

  &-enter {
    transform-origin: right top;
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-active {
    transform: scale(1);
    opacity: 1;
    @include ease(out, 0.275);
  }

  &-leave {
    opacity: 1;
    transform: none;
  }

  &-leave-active {
    opacity: 0;
    transform: translateY(5%);
    @include ease(out);
  }

  &__item {
    display: block;
    padding: ($base-space / 3) ($base-space) ($base-space / 3) ($base-space / 1.5);
    color: color(black);
    text-align: left;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }
}

.QueueActions--reverse {
  position: absolute;
  right: ($base-space * 1.25);
  top: 42px;
  z-index: 2;
  border-radius: 2px;
  padding: ($base-space / 4) (0);
  background: white;
  box-shadow: 0 0 0 1px rgba(99,114,130,.1), 0 8px 30px rgba(27,39,51,.08);
  @include ease(out, 0.5);

  &-enter {
    transform-origin: left top;
    transform: scale(0.2);
    opacity: 0;
  }

  &-enter-active {
    transform: scale(1);
    opacity: 1;
    @include ease(out, 0.5);
  }

  &-leave {
    opacity: 1;
    transform: none;
  }

  &-leave-active {
    opacity: 0;
    transform: translateY(5%);
    @include ease(out);
  }

  &__item {
    display: block;
    padding: ($base-space / 3) ($base-space) ($base-space / 3) ($base-space / 1.5);
    color: color(black);
    text-align: left;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }
}

.QueueActions--reverse--bottom {
  position: absolute;
  right: ($base-space * 1.25);
  top: 42px;
  z-index: 2;
  border-radius: 2px;
  padding: ($base-space / 4) (0);
  background: white;
  box-shadow: 0 0 0 1px rgba(99,114,130,.1), 0 8px 30px rgba(27,39,51,.08);
  @include ease(out, 0.5);

  &-enter {
    transform-origin: left bottom;
    transform: scale(0.2);
    opacity: 0;
  }

  &-enter-active {
    transform: scale(1);
    opacity: 1;
    @include ease(out, 0.5);
  }

  &-leave {
    opacity: 1;
    transform: none;
  }

  &-leave-active {
    opacity: 0;
    transform: translateY(5%);
    @include ease(out);
  }

  &__item {
    display: block;
    padding: ($base-space / 3) ($base-space) ($base-space / 3) ($base-space / 1.5);
    color: color(black);
    text-align: left;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }
}

.QueueActions--reverse--top {
  position: absolute;
  right: ($base-space * 1.25);
  top: 42px;
  z-index: 2;
  border-radius: 2px;
  padding: ($base-space / 4) (0);
  background: white;
  box-shadow: 0 0 0 1px rgba(99,114,130,.1), 0 8px 30px rgba(27,39,51,.08);
  @include ease(out, 0.5);

  &-enter {
    transform-origin: left top;
    transform: scale(0.2);
    opacity: 0;
  }

  &-enter-active {
    transform: scale(1);
    opacity: 1;
    @include ease(out, 0.5);
  }

  &-leave {
    opacity: 1;
    transform: none;
  }

  &-leave-active {
    opacity: 0;
    transform: translateY(5%);
    @include ease(out);
  }

  &__item {
    display: block;
    padding: ($base-space / 3) ($base-space) ($base-space / 3) ($base-space / 1.5);
    color: color(black);
    text-align: left;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }
}


