.QueueSortOptions {
  display: flex;
  align-items: center;
  padding: ($base-space / 1.5) ($base-space * 1.5) ($base-space / 1.5) (0);
  color: white;
  font-weight: 500;

  &:last-child {
    padding-right: 0;
  }

  &--align-left {
    margin: 0 auto 0 0;
  }

  &__label {
    margin-right: ($base-space / 1.75);
  }

  &__value {
    position: relative;
  }

  &__button {
    display: flex;
    align-items: center;
    height: 28px;
    border-radius: 4px;
    margin-right: ($base-space / 1.5);
    padding: (0) ($base-space / 2);
    text-transform: uppercase;
    font-weight: 600;
    background: rgba(black, 0);
    color: rgba(white, 0.75);
    cursor: pointer;
    @include ease(out);

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: rgba(black, 0.3);
      color: rgba(white, 0.9);
    }
  }

  &__select-wrap {
    position: relative;
    display: inline-block;
    left: $base-space / 4;
  }

  &__select {
    margin: 0;
    padding-right: ($base-space / 1.5);
    cursor: pointer;
    text-transform: none;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__chevron {
    $size: 10px;
    width: $size;
    height: $size;
    position: absolute;
    top: 52%;
    right: ($base-space / 3);
    transform: translateY(-50%);
    pointer-events: none;
    * { fill: white; }
  }
}
