.Dynamic {
  .Container {
    padding: ($base-space) ($base-space * 2) ($base-space * 4);
    margin: 0 auto;
    max-width: 1200px;

    @include bp(large) {
      padding: ($base-space * 1.5) ($base-space * 1.5) ($base-space * 4);
    }

    @include bp(largest) {
      max-width: 1280px;
      padding: ($base-space * 1.5) ($base-space / 2) ($base-space * 5);
    }
  }
}
