.AuthLoader {
  color: color(black);
  font-size: font(3);

  &__animation {
    position: relative;
    margin-top: $base-space * 1.75;
    height: 2px;
    width: 130px;
    background: color(grey-mid-light);
    border-radius: 5px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      height: 6px;
      width: 6px;
      top: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: grow(pri);
      border-radius: 50%;
      animation: scaleRight 2s ease infinite;
    }

    &::after {
      content: '';
      position: absolute;
      height: 6px;
      width: 6px;
      top: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: grow(pri);
      border-radius: 50%;
      animation: scaleLeft 2s ease infinite;
    }

    @keyframes scaleRight {
      0% {
        transform: scale(0) translateX(2px);
      }
      50% {
        transform: scale(10) translateX(-11px);
      }
      100% {
        transform: scale(0) translateX(0px);
      }
    }

    @keyframes scaleLeft {
      0% {
        transform: scale(0) translateX(-2px);
      }
      50% {
        transform: scale(10) translateX(11px);
      }
      100% {
        transform: scale(0) translateX(0px);
      }
    }
  }
}
