.LoginMessage {
  position: absolute;
  left: 50%;
  bottom: ($base-space * -2.5);
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  color: color(grey-mid-dark);
  font-weight: 400;
  font-size: font(3);

  &-enter {
    opacity: 0;
    transform: translateX(-50%) translateY(35px);
  }

  &-enter-active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    @include ease(out, 0.5);
  }

  &__icon {
    margin-right: ($base-space / 2);
    position: relative;
    * { fill: grow(pri); }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 19px;
      height: 19px;
      background: white;
      border-radius: 50%;
    }
  }
}
