.LoginForm {
  margin: 0;
  border-radius: 4px;
  padding: ($base-space * 1.5);
  background: white;

  @include bp(small) {
    min-width: 400px;
  }

  &Button {
    min-width: 332.5px;
    background: grow(pri);
    margin: 12px auto 25px;
    height: 5rem;

    &__icon {
      height: 19px;
      margin: 0 0 2px 3px;
    }
  }

  &Label {
    margin-bottom: ($base-space / 4);
  }

  &Input {
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    height: 5rem;
    padding: 0 $base-space / 1.25;
    color: $text-color;

    &::-webkit-input-placeholder {
      color: #aaa;
    }

    &:-moz-placeholder {
      color: #aaa;
    }

    &::-moz-placeholder {
      color: #aaa;
    }

    &:-ms-input-placeholder {
      color: #aaa;
    }
  }
}
