.WorkbenchShellSidebarPlaceholder {
  margin-top: $base-space * 2;

  &Header {
    margin-bottom: 6px;
    height: 30px;
    margin-right: 50px;
    background-color: #efeeee;
  }

  &List {
    list-style: none;

    &__item {
      list-style: none;
      height: 12px;
      width: 155px;
      margin: 25px 0;
      background: #efeeee;

      &:first-child {
        width: 180px
      }

      &:last-child {
        width: 173px
      }
    }
  }
}
