.WorkbenchShellHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: ($base-space / 2.25);
  background: white;
  padding: 1.7rem 2.8125rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &__header {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__subheader {
    display: inline-block;
    color: color(grey-mid);
    opacity: 0.5;
    font-weight: 400;
    font-size: font(2);
    margin-left: $base-space / 1.25;
  }

  &__actions {
    display: flex;
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    &-status {
      &--completed {
        margin-left: $base-space / 2;
        font-size: font(1);
        padding: 4px 8px;
        border-radius: 2px;
        color: white;
        background: grow(pri);
        text-transform: uppercase;
      }

      &--declined {
        margin-left: $base-space / 2;
        font-size: font(1);
        padding: 4px 8px;
        border-radius: 2px;
        color: white;
        background: color(red);
        text-transform: uppercase;
      }

      &--onhold {
        margin-left: $base-space / 2;
        font-size: font(1);
        padding: 4px 8px;
        border-radius: 2px;
        background: color(yellow);
        text-transform: uppercase;
      }
    }
  }

  &__button-small {
    background: transparent;
    box-shadow: none;

    span {
      color: grow(pri);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-left: ($base-space / 3);
    text-transform: uppercase;

    &-creator {
      display: flex;
      align-items: center;
      justify-content: center;
      background: grow(pri);
      color: white;
      border-radius: 50%;
      border: 1px solid transparent;
      height: 21px;
      width: 21px;
      font-size: 0.7rem;
      font-weight: 500;
    }

    &-invite {
      display: flex;
      align-items: center;
      justify-content: center;
      background: grow(pri);
      color: white;
      border-radius: 50%;
      border: 1px solid transparent;
      height: 21px;
      width: 21px;
      font-size: 0.7rem;
      font-weight: 500;
      position: relative;
      left: -4px;
      background: #cde2f9;
      color: grow(pri);
    }
  }

  &__menu-dots {
    cursor: pointer;

    &-icon {
      transform: rotate(90deg);
      * {
        fill: grow(sec);
      }

      &--active {
        * {
          fill: grow(pri);
        }
      }

      &:hover {
        * {
          fill: grow(pri);
        }
      }
    }
  }
}
