.WorkbenchShellSubnav {
  list-style-type: none;

  &__link {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -($base-space / 1.75);
    padding: (0.8rem) ($base-space / 1.75);
    color: color(grey-mid-dark);
    font-weight: 500;
    @include ease(out);

    &:hover {
      color: grow(sec);
      background: #fdfdfd;
    }

    &--active {
      color: grow(pri);

      &:hover { color: grow(pri); }
    }
  }
}
