.ImageViewer {
  &-appear,
  &-leave-active {
    transform: translateY(100%);
  }

  &-appear-active,
  &-leave {
    transform: none;
    @include ease(out, 0.3);
  }

  &__wrapper {
    @include clearfix;
    max-height: 600px;
    width: 100%;
    background: white;
    position: relative;
  }

  &__image,
  &__content {
    float: left;
    width: 50%;
  }

  &__image {
    display: flex;
    align-items: center;

    &-image {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  &__content {
    color: $text-color;
    padding: (0) ($base-space * 1.5);
  }

  &__heading {
    margin-bottom: ($base-space / 2);
    font-size: font(4);
  }

  &__subheading {
    font-size: font(2);
    margin-bottom: ($base-space / 3);
  }

  &__status {
    margin-bottom: ($base-space * 1.5);
    font-weight: 600;
  }

  &__verification-icon {
    margin-right: ($base-space / 2);

    &--success {
      * {
        stroke: color(green);
      }
    }

    &--failure {
      * {
        stroke: color(red);
      }
    }
  }

  &__view-btn {
    margin-top: ($base-space * 1.5);
  }
}
