@import '../../../../styles/variables';
@import '../../../../styles/mixins/mixins';
@import '../../../../styles/functions';

.CategoryPie {
  background: white;
  height: 100%;

  &__heading {
    margin-top: ($base-space / 1.5);
    font-size: font(3);
    text-align: center;
    font-weight: 500;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($base-space / 3) ($base-space / 1.25) ($base-space / 1.5);

    @include bp(small) {
      padding: ($base-space) ($base-space * 1.25);
    }
  }

  &__pie-wrapper {
    flex: 2;
    position: relative;
    text-align: center;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &-lg {
      font-size: font(3);
      font-weight: 500;
      color: color(black);
    }

    &-sm {
      color: color(grey-mid);
    }
  }

  &__legend {
    flex: 1;
    padding-right: ($base-space / 2);

    @include bp(small) {
      padding-right: $base-space;
    }

    &-item {
      margin-bottom: ($base-space / 2.5);
      display: flex;
      align-items: baseline;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-circle {
      $size: 12px;
      width: $size;
      height: $size;
      display: inline-block;
      margin-right: ($base-space / 3);
      border-radius: 50%;
    }

    &-info {
      position: relative;
      top: -2px; // Looks more aligned
    }

    &-name {
      font-size: 1.4rem;
      color: color(grey-mid);
    }

    &-amount {
      color: color(black);
    }
  }
}
