.MemberNotesList {
  list-style-type: none;
  margin-bottom: ($base-space / 1.5);

  > * {

    .MemberNotesItem {
      border-bottom: 1px solid rgba(grow(pri), 0.1);
    }

    &:last-child {
      .MemberNotesItem {
        border-bottom: none;
      }
    }
  }

  &__no-notes {
    font-size: font(3);
    margin: 0;
    padding: ($base-space * 2.85) ($base-space);
    text-align: center;
  }
}
