.MemberNoteComposer {
  $p: &;
  position: fixed;
  z-index: 10;
  bottom: ($base-space);
  right: ($base-space);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-enter {
    transform: scale(0);
  }

  &-enter-active {
    transform: none;
    @include ease(out, 0.35);
  }

  &-leave {
    transform: none;
  }

  &-leave-active {
    transform: scale(0);
    @include ease(out, 0.25);
  }

  &--active {
    #{$p}__fab {
      transform: rotate(90deg);
    }
  }

  &__fab {
    margin: 0 0 0 auto;
    transform: rotate(0);
    @include ease(out);

    &-icon {
      &--stroke {
        * {
          stroke: white;
        }
      }
      &--path {
        * {
          fill: white;
        }
      }
    }
  }

  &__body {
    min-height: 400px;
    width: 396px;
    margin-bottom: ($base-space / 1.5);
    overflow: hidden;
    box-shadow: 0 4px 28px rgba(black, 0.2);
    transform-origin: 90% bottom;
    border-radius: 2px;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: ($base-space / 1.5) ($base-space);
    background: white;
    color: color(black);

    &-icon {
      margin-right: ($base-space / 2);
      * {
        stroke: color(black);
      }
    }
  }
}
