.MemberNotes {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($base-space) ($base-space * 1.25);

    &-button {
      @include button;
      @include button--sec;
      @include button--sm;
    }
  }

  &__filters {
    margin-bottom: ($base-space / 3);

    &-button {
      display: inline-block;
      border-radius: 4px;
      margin-right: ($base-space / 2);
      padding: (0) ($base-space / 2);
      text-transform: uppercase;
      color: lighten(color(grey-mid), 10);
      font-weight: 500;
      cursor: pointer;
      @include ease(out);

      &:hover {
        color: grow(pri);
      }

      &--active {
        color: grow(sec);
        background: rgba(black, 0.05);
      }
    }
  }

  &__more {
    margin-bottom: ($base-space);
    padding: (0) ($base-space * 1.25);
    text-align: center;

    &-button {
      @include button;
      @include button--pri;
    }
  }
}
