.PrimaryNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242B3C;
  color: white;
  position: relative;
  height: 56px;
  padding: 0 ($base-space);

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 32px;
    height: 30px;
    position: relative;
    top: -1.5px; // visual alignment
  }
}
