.SearchResultsItem {
  padding: (0) ($base-space / 1.25);
  animation: fadeIn 0.25s ease(out) forwards;

  &:nth-child(even) {
    background: #fafafa;
  }

  &--no-results {
    padding: ($base-space / 2) ($base-space / 1.5);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: grow(sec);
  }

  &__link {
    display: flex;
    cursor: pointer;
  }

  &__cell {
    display: inline-block;
    width: 222px;
    padding: ($base-space / 2) (0);
    font-size: 1.4rem;
    color: color(black);

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
