.StatusButtons {
  &Container {
    display: flex;
    justify-content: space-between;
    .FormButton {
      width: 180px;
      height: 45px;
    }
  }

  &__row {
    border: 1px solid #ebeef0;
    margin-bottom: ($base-space * 1.5);
    width: 48%;
  }

  &__header {
    font-size: font(3);
    border-bottom: 1px solid #ebeef0;
    background-color: #f8f8fa;
    padding: ($base-space / 1.5);
    margin: 0;
  }

  &__body {
    padding: ($base-space / 1.5);
  }

  p {
    margin: 0;
  }
}

.StatusButton {
  &--disabled {
    background-color: #bbc0ca;
  }
}

.StatusField {
  display: inline-block;
}
